// 全ページに共通するプロパティ(clearfixなど)をここに記述
body{
  background: #f5f5f5;
  min-height: 100%;
  font-size: 14px;
  position: relative;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

*{
  box-sizing: border-box;
}

.bold{
  font-weight: 600;
}

.clearfix:after{
  clear: both;
  content: "";
  display: block;
}

a{
  text-decoration: none;
  color: #0099e8;
}

h2{
  font-size: 22px;
  line-height: 1.4;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

h3{
  font-weight: bold;
}

.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  box-sizing: border-box;
}
.contents__form__require{
  margin: 0 0 0 8px;
  padding: 2px 4px;
  background: #ea352d;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.textarea-default {
  display: block;
  width: 100%;
  max-width: 97%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.select-default{
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.btn-default{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.btn-red{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

main{
  display: block;
}

section{
  display: block;
}

.common-header{
  text-align: center;
  h1{
    display: inline-block;
    margin: 11px 0 12px;    
    // ヘッダーロゴの部分
    a{
      display:inline-block;
      width: 125px;
      height: 33px;
      margin: 0 8px 0 0;
      line-height: 33px;
      img{
        width: 125px;
        height: 33px;
      }
    }  
  }
}
.common-footer{
  height: 280px;
  padding: 40px 0;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  nav{
    display: block;
    ul{
      li:first-child{
        margin: 0;
      }
      li{
        list-style: none;
        margin: 16px 0 0;
        font-size: 12px;
        a{
          color: #333;    
          display: block;
        }  
      }
    }    
  }  // フッダーロゴの部分
  a{
    display: block;  
  } 
  .common-footer-container__logo{
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    img{
      vertical-align: middle;
    
    }
  } 
  p{
    margin:8px 0 0;
    small{
      font-size: 13px;
    }
  }  
}


@media screen and (min-width: 768px){
.common-header{
  height: 128px;
  h1{
    margin:40px 0 0;
    a{
      width: 180px;
      height: 49px;
      line-height: 49px;
      img{
        width: 180px;
        height: 49px;
      }
    }
  }
}

.common-footer{
  width: 456px;
  height: 280px;
  margin: 0 auto;
  nav{
    ul{
      li{
        display: inline-block;
        margin:0 0 0 16px;
      }
    }
  }
}
}
