.category-container{
  .header{
    position: relative;
    box-shadow: none;
    .under-row{
      display: none;
    }
  }
  .header-wide{
    position: relative;
    box-shadow: none;
  }
  .category-index{
    background: transparent;
    margin: 40px auto;
    .category-content{
      .category-index-title{
        padding: 0 10px;
        line-height: 30px;
        background-color: #f5f5f5;
        h2{
          padding: 8px 0;
          float: left;
          font-size: 22px;
          line-height: 1.4;
          font-weight: 600;
        }
      }
      .category-list-nav{
        display: block;
        margin: 14px 0 0;
        ul{
          li{
            position: relative;
            background: #fff;
            .accordion-taggle{
              position: relative;
              font-size: 20px;
              font-weight: 400;
              border-bottom: solid 1px #eee;
              cursor: pointer;
              div{
                overflow: hidden;
                width: 83%;
                height: 46px;
                line-height: 46px;
                margin: 0 0 0 15px;
                padding: 0 0 0 50px;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .fa-plus{
                position: absolute;
                top: 50%;
                right: 20px;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                color: #aaa;
                font-size: 14px;
              }
            }
            .accordion-taggle:before{
              position: absolute;
              top: 50%;
              left: 15px;
              display: block;
              content: '';
              width: 35px;
              height: 35px;
              background-size: 35px 35px;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
            }
            #accordion1:before{
              //13個分画像挿入
            }
            .accordion-child{
              display: none;
              li{
                position: relative;
                background: #fff;
                border-bottom: solid 1px #eee;
                a{
                  display: block;
                  .fa-chevron-right{
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    -webkit-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    color: #aaa;
                    font-size: 14px;
                  }
                }
                .search-category-child{
                  overflow: hidden;
                  width: 70.3125%;
                  margin: 0 0 0 50px;
                  padding: 0 0 0 15px;
                  height: 46px;
                  line-height: 46px;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .fa-plus{
                  position: absolute;
                  top: 50%;
                  right: 20px;
                  -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
                  color: #aaa;
                  font-size: 14px;
                }
              }
              .accordion-grandchild{
                display: none;
                li{
                  position: relative;
                  background: #fff;
                  a{
                    display: block;
                    border-bottom: solid 1px #eee;
                    .search-category-grandchild{
                      margin: 0 0 0 60px;
                      padding: 0 14.0625% 0 15px;
                      font-size: 14px;
                      overflow: hidden;
                      width: 70.3125%;
                      height: 46px;
                      line-height: 46px;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }
                    .fa-chevron-right{
                      position: absolute;
                      top: 50%;
                      right: 20px;
                      -webkit-transform: translate(0, -50%);
                      transform: translate(0, -50%);
                      color: #aaa;
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .category-content-wide{
      display: none;
      .category-index-title{
        background-color: #f5f5f5;
        h2{
          padding: 8px 0;
          font-size: 22px;
          line-height: 1.4;
          font-weight: 600;
        }
      }
      .category-list-nav{
        text-align: center;
        .category-root-link-name{
          background-color: #fff;
          border-radius: 4px;
          min-width: 80px;
          height: 40px;
          -webkit-box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
          box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
          padding: 0 30px;
          margin: 5px;
          color: #333;
          font-size: 16px;
          line-height: 40px;
        }
        a{
          float: left;
          display: block;
        }
      }
      .category-list-box{
        margin: 30px auto;
        .category-list-individual-box{
          border-radius: 4px;
          margin-bottom: 40px;
          background-color: #fff;
          &__root-category-name{
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 7px 30px 0 30px;
            height: 40px;
            color: #fff;
            background-color: #ea352d;
            h3{
              font-size: 22px;
              font-weight: 600;
            }
          }
          &__inner-box{
            padding: 24px 30px 10px 30px;
            p{
              font-size: 16px;
              margin-top: 8px;
              margin-bottom: 8px;
            }
            .category-list-individual-box-child-category-name{
              padding-top: 15px;
              padding-bottom: 5px;
              h4{
                font-weight: 600;
              }
            }
            .category-list-individual-box-grandchild-category-box{
              padding-left: 20px;
              padding-right: 20px;
              padding-bottom: 10px;
              .category-list-individual-box-grandchild-category-name{
                float: left;
                width: 50%;
                padding: 0 20px 0 0;
                p{
                  font-size: 16px;
                  margin-top: 8px;
                  margin-bottom: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px){
.category-container{
  .l-single-container{
    width: 700px;
    .category-content{
      display: none;
    }
    .category-content-wide{
      display: block;
    }
  }
}
}
