.category-container{
  .bread-crumbs{
    position: relative;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background: #fff;
    ul{
      padding: 16px;
      font-size: 0;
      white-space: nowrap;
      overflow: auto;
    }
  }
  .l-container{
    margin: 24px auto 0;
    padding: 0 0 40px;
    .l-content{
      float: none;
      width: 100%;
      .item-box-container{
        h1{
          font-size: 18px;
          margin: 24px 4% 8px;
          line-height: 1.4;
          font-weight: bold;
        }
        .item-box-content{
          width: 92%;
          margin: 0 auto;
          .items-box{
            width: calc(33% - 2.666666px);
            margin: 0 4px 4px 0;
            position: relative;
            float: left;
            background: #fff;
            a{
              display: block;
              color: #333;
              .items-box-photo{
                width: 100%;
                height: auto;
                overflow: hidden;
                position: relative;
                padding: 0 0 100%;
                img{
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  z-index: 1;
                  width: 100%;
                }
              }
              .items-box-body{
                height: 0;
                padding: 0;
                .items-box-name{
                  height: 0;
                  position: relative;
                  font-weight: 400;
                  line-height: 1.5;
                  word-break: break-word;
                  white-space: normal;
                  color: #333;
                  overflow: hidden;
                }
                .items-box-num{
                  margin-top: -28px;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  .items-box-price{
                    background-color: rgba(0,0,0,0.3);
                    border-radius: 0 12px 12px 0;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 4px 12px 4px 8px;
                    z-index: 2;
                  }
                  .font-2{
                    display: none !important;
                    font-size: 16px;
                    font-weight: 400;
                    color: #333;
                  }
                }
              }
            }
          }
        }
      }
      .pagination{
        margin: 20px 0 0;
        position: relative;
        font-size: 0;
        text-align: center;
        &__num{
          max-width: 220px;
          margin: 0 auto;
          .page{
            display: inline-block;
            width: 44px;
            height: 44px;
            border-radius: 4px;
            background: #fff;
            border: 1px solid #ccc;
            font-size: 14px;
            line-height: 42px;
            a{
              display: block;
              color: #333;
            }
          }
          .page.current{
            color: #fff;
            background: #ea352d;
          }
        }
        &__next{
          position: absolute;
          right: 0;
          top: 0;
          display: none;
          .fa-angle-double-right{
            font-size: 22px;
            position: relative;
            top: 0.15rem;
          }
        }
      }
      .special-description{
        margin-top: 30px;
        .special-description-title{
          text-align: center;
          background-color: #ea352d;
          h3{
            padding: 16px 8px;
            color: #fff;
            font-size: 22px;
            font-weight: bold;
          }
        }
        .special-description-text{
          padding: 30px;
          background-color: #fff;
          a{
            line-height: 1.6em;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px){
.category-container{
  .l-container{
    width: 700px;
    .l-content{
      float: none;
      .item-box-container{
        .item-box-head{
          font-size: 22px;
          margin: 24px 0 8px;
        }
        .item-box-content{
          width: auto;
          .items-box:nth-child(4n+1){
            margin-left: 0;
          }
          .items-box:nth-child(odd){
            margin: 0 20px 20px 0;
          }
          .items-box {
            width: 155px;
            margin: 0 15px 20px 0;
            a{
              .items-box-body{
                position: relative;
                height: 58px;
                padding: 8px 12px;
                .items-box-name{
                  font-size: 14px;
                  height: 100%;
                  overflow: hidden;
                }
                .items-box-name:after{
                  width: 30%;
                }
                
                .items-box-num{
                  overflow: auto;
                  .items-box-price{
                    z-index: 2;
                    position: absolute;
                    top: -30px;
                    left: 0;
                    padding: 4px 12px 4px 8px;
                    border-radius: 0 16px 16px 0;
                    font-weight: 600;
                    color: #fff;
                    background-color: rgba(0,0,0,0.3);
                    font-size: 16px;
                  }
                  .font-2{
                    display: block !important;
                    position: absolute;
                    right: 12px;
                    bottom: 10px;
                    padding-left: 32px;
                    background: linear-gradient(to right, rgba(255,255,255,0), #fff 24px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
}
@media screen and(min-width: 1068px){
.category-container{
  .l-container{
    margin: 40px auto 0;
    width: 1020px;
    .l-content{
      width: 100%;
      float: right;
      .item-box-container{
        .item-box-head{
          line-height: 1.4;
        }
        .item-box-content{
          margin: 0 auto;
          .items-box:nth-child(4n+1){
            width: 180px;
          }
          .items-box:nth-child(odd){
            margin: 0 20px 20px 0;
          }
          .items-box {
            position: relative;
            float: left;
            background: #fff;
            width: 180px;
            a{
              .items-box-photo {
                width: 180px;
                height: 188px;
              }
              .items-box-body{
                position: relative;
                height: 58px;
                padding: 8px 12px;
                .items-box-name{
                  overflow: hidden;
                  position: relative;
                  font-weight: 400;
                  height: 3em;
                  line-height: 1.5;
                  word-break: break-word;
                  white-space: normal;
                }
                .items-box-name:after{
                  width: 30%;
                }
                .items-box-num{
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  -webkit-box-pack: justify;
                  justify-content: space-between;
                  margin: 8px 0 0;
                  .items-box-price{
                    font-size: 17px;
                  }
                  .font-2{
                    font-size: 16px;
                    font-weight: 400;
                    color: #333;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
}
