@import "font-awesome";
@import "./reset";
@import "config/colors";
@import "config/size";
@import "config/template";
@import "mixins/mixin";
@import "users/show";
@import "users/identification";
@import "users/logout";
@import "users/card";
@import "users/edit";
@import "config/sell_btn";
@import "signup/sign_up";
@import "users/login";
@import "signup/registration";
@import "items/index";
@import "shared/main_header";
@import "shared/main_footer";
@import "shared/main_aside";
@import "items/confirmation";
@import "signup/phone";
@import "signup/address";
@import "signup/payment";
@import "signup/phone2";
@import "signup/complete";
@import "items/new";
@import "items/show";
@import "items/search";
@import "categories/index";
@import "categories/show";
@import "shared/errors_messages";
@import "items/done"